.book-now{
    &-upper, &-lower{
    box-sizing: border-box;
    height: 616px;
    background-position: center;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
    }
    &-upper{
        background-image: url(../../../img/bg/book-now-upper-bg.png);
    }
    &-lower{
        background-image: url(../../../img/bg/book-now-lower-bg.png);
    }
        article{
            box-sizing: border-box;
            padding: 44px 32px;
            background-color: rgba(35, 35, 35, 0.90) ;
            .subtitle{
                font-family: $fontPrimary;
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                line-height: 28px; /* 140% */
                letter-spacing: 2px;
                margin-top: 0;
                margin-bottom: 16px;
            }
            .title{
                font-family: $fontPrimary;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px; /* 140% */
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 16px;
            }
            .desc{
                font-family: $fontPrimary;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 28px; /* 175% */
                letter-spacing: 1.6px;
                margin-top: 0;
                margin-bottom: 28px;
            }
    
        }
    
}
@media screen and (min-width: $tablet){
    .book-now{
        &-upper, &-lower{
        height: 588px;
        
        }
    }
}
@media screen and (min-width: $Desktop){
    .book-now{
        &-upper, &-lower{
        height: 712px;
        padding-top: 220px;
        padding-bottom: 120px;
        }
        article{
            width: 550px;
            .desc{
                margin-bottom: 24px;
            }
        }
        &-lower{
            article{
                margin-right: 0;
                margin-left: auto;
               
            }

        }
    }
}
@media screen and (min-width: $Desktop2){
    .book-now{
        article{
            width: 558px;
        }
    }
}