.navigation{
    background-color: $colorAccentPrimary;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    .logo{
        height: 20px;
    }
    
    button{
        display: block;
        width: 40px;
        height: 24px;
        background-image: url(../../../img/mobile/Burger.png);
        background-size: cover;
        border: none;
        position: absolute;
        right: 18px;
        top: 30px;

    }
    

}
@media screen and (max-width: calc($tablet - 1px)){
    .navigation{
        
        nav{
            display: none;
        }
    }
}
@media screen and (min-width: $tablet){
    .logo{
        margin-bottom: 32px;
    }
   .navigation{
    button{
        display: none;
    }
    nav{
        
        ul{
            width: 575px;
            margin: auto;
            padding: 0;
            display: flex;
            justify-content: space-between;
            li{
                list-style: none;
                a{
                    color: $colorText;
                    font-family: Aleo;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 142.857% */
                    letter-spacing: 1.4px;
                    text-transform: uppercase; 
                }
            }
        }
    }
   }
    
    
}
@media screen and (min-width: $Desktop){
    .navigation{
        .logo{
            margin-bottom: 0;
        }
        .container{
            display: flex;
            justify-content: space-between;
        }
        
    }
}