$Desktop2: 1360px;
$Desktop: 1024px;
$tablet: 768px;
$mobile: 576px;

$fontPrimary: 'Josefin Sans', sans-serif;
$fontSecondary: 'Aleo', serif;

$colorText: #fff;
$colorPlaceholder: #999;
$colorAccentPrimary: #5373FD;
$colorBgSteps: #333;
$colorBgFooter: #000;
$colorAccentDarker: #486BFE;
$colorIconSelect:rgba(255, 99, 99, 1);
$colorIconThumbs: rgba(0, 162, 255, 1);
